/*
 * Support in all the modern browsers
 * Firefox 31+, Chrome 49+, Safara 9.1+, Microsoft Edge 15+ and Opera 36+
 */
:root {
  --main-color: #5193ff;
  --second-color: #222;
  --third-color: #ccc;
  --mixin-button: {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  };
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a:hover {
  cursor: pointer;
}

/*Spinner cf.https://ihatetomatoes.net/create-css3-spinning-preloader/*/
#loader-wrapper {
  position:absolute;
  left:50%;
  top:50%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 130px;
  height: 130px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--second-color);
  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--main-color);
  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--third-color);
  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}

/*Dropdown*/
.dropdown {
 position: relative;
 display: inline-block;
 min-width: 40px;
 min-height: 20px;
 text-align: center;
}
.dropdown:hover {
 cursor: pointer;
}
.dropdown:hover .dropdown-content {
 display: block;
 cursor: auto;
}
.dropdown-content {
 display: none;
 position: absolute;
 right: 0;
 text-align: left;
 background-color: white;
 color: var(--second-color);
 border: 2px solid var(--main-color);
 min-width: 150px;
 padding: 7px 12px;
 z-index: 1;
}
.dropdown-content a {
  color: var(--third-color);
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  color: var(--main-color);
}
.dropdown-content a .input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.dropdown-content a .input-file + label {
	cursor: pointer;
}

/*Inputs*/
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--third-color);
  background: white;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=text]:focus,
select:focus,
textarea:focus {
  border-color: var(--main-color);
  outline: none;
}

/*Buttons*/
.button {
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
}
.button:hover {
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.main-button {
  background-color: var(--main-color);
}
.second-button {
  background-color: var(--second-color);
}
.third-button {
  background-color: var(--third-color);
}
