/*
 * Support in all the modern browsers
 * Firefox 31+, Chrome 49+, Safara 9.1+, Microsoft Edge 15+ and Opera 36+
 */
:root {
  --main-color: #5193ff;
  --second-color: #222;
  --third-color: #ccc;
  --mixin-button: {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  };
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a:hover {
  cursor: pointer;
}

/*Spinner cf.https://ihatetomatoes.net/create-css3-spinning-preloader/*/
#loader-wrapper {
  z-index: 1000;
}
#loader {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--second-color);
  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--main-color);
  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--third-color);
  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}

a .input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
a .input-file + label {
	cursor: pointer;
}

/*Dropzone*/
.dropzone {
  position: relative;
}
/*.dropzone:before {
  content: "\f0ee";
  font-family: FontAwesome;
  font-size: 100px;
  line-height: 100px;
  color: var(--main-color);
}*/
.dropzone [type="file"] {
  border: 2px solid var(--main-color);
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
}

/*Inputs*/
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--third-color);
  background: white;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
}
input[type=text]:focus,
select:focus,
textarea:focus {
  border-color: var(--main-color);
  outline: none;
}

/*Buttons*/
.button {
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
}
.button:hover {
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.main-button {
  background-color: var(--main-color);
}
.second-button {
  background-color: var(--second-color);
}
.third-button {
  background-color: var(--third-color);
}
.disabled-button {
  background-color: var(--third-color);
}
.disabled-button:hover {
  cursor: default;
}

.hidden {
  visibility: hidden;
}

.file-item:hover .hidden {
  visibility: visible;
}

.path-button {
  background-color: var(--third-color);
  margin: 1px;
}

.path-button:hover {
  background-color: var(--main-color);
}

.first-path-button {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.last-path-button {
  background-color: #888;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

input[type=checkbox]
{
  -ms-transform: scale(1.4); /* IE */
  -moz-transform: scale(1.4); /* FF */
  -webkit-transform: scale(1.4); /* Safari and Chrome */
  -o-transform: scale(1.4); /* Opera */
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none; // You should add some other style for :focus to help UX/a11y
}